body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #ffeef2;
    text-align: center;
}

.container {
    margin-top: 50px;
    padding: 20px;
}

.photo {
    width: 250px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}

h1 {
    margin-top: 15px;
    font-size: 28px;
}

.line {
    font-size: 18px;
    margin-top: 20px;
}

.proposal {
    font-size: 22px;
    margin: 20px;
    font-weight: bold;
}

.buttons button {
    padding: 12px 25px;
    font-size: 18px;
    margin: 15px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
}

#yesBtn {
    background-color: #ff4d6d;
    color: white;
}

#noBtn {
    background-color: #ccc;
}

.hidden {
    display: none;
}

.drive {
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}
